<a href="https://colab.research.google.com/github/sathishsivam/Java_conventional/blob/master/Linearreg_multivariate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Linear regression with Multiple variables a.k.a multivariate Regression

In [0]:
data=pd.DataFrame({"Area":[2600,3000,3200,3600,4000,4100],"Bedrooms":[3,4,2,3,5,6],"Age":[20,15,18,30,8,6],"Price":[550000,565000,610000,590000,760000,810000
                                                                                                                   ]})

In [0]:
data

   Age  Area  Bedrooms   Price
0   20  2600         3  550000
1   15  3000         4  565000
2   18  3200         2  610000
3   30  3600         3  590000
4    8  4000         5  760000
5    6  4100         6  810000

In this illustration we are going to build a model to predict the price of the house with multivariableswher


y=mx+b

where 

y is price of the house to be predicted  (Dependent variable)

m is the co-efficient

x is a area, age, bedroom (features)    (Independent variables )

b is intercept



from the above dataset


price=m1(area) +  m2(age)   +   m3(bedrooms)+ b

a.k.a

                                  y=m1x1+m2x2+m3x3+b

In [0]:
from sklearn.linear_model import LinearRegression

In [0]:
model=LinearRegression()

In [0]:
model.fit(data[['Area','Age','Bedrooms']],data.Price)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [0]:
model.predict([[4000,8,5]])

array([767595.06057075])

In [0]:
model.coef_

array([  125.73595187, -5611.62058111,   789.30334594])

In [0]:
model.intercept_

305597.70102877513

As we know that the Linear Equation for the regression is
           y=mx+b


           price=

In [0]:
price_pred=125.73595187*4000+-5611.62058111*8+789.30334594*5+305597.70102877513

In [0]:
price_pred

767595.060589595